@model SalesWebMVC.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h2>Department</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2" >
            <legend>@Html.DisplayNameFor(model => model.Name)</legend>
        </dt>
        <dd class = "row-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
