@{
    ViewData["Title"] = "Sales Records";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">
        <form class="form-label" asp-action="SimpleSearch">
            <fieldset>
                <br />
                <legend>Simple search</legend>
                <div class="form-group">
                    <label for="minDate" class="col-lg-2 control-label">Min Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="minDate" class="form-control" />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label for="maxDate" class="col-lg-2 control-label">Max Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="maxDate" class="form-control" />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="inline">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="GroupingSearch">
            <fieldset>
                <br />
                <legend>Grouping search</legend>
                <div class="form-group">
                    <label for="minDate" class="col-lg-2 control-label">Min Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="minDate" class="form-control" />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label for="maxDate" class="col-lg-2 control-label">Max Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="maxDate" class="form-control" />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>